affine==2.3.1
attrs==21.4.0
black==22.3.0
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.4
contextily==1.2.0
cycler==0.11.0
Fiona==1.8.21
fonttools==4.33.3
future==0.18.2
GDAL==3.4.2
geographiclib==1.52
geopandas==0.10.2
geopy==2.2.0
idna==3.3
igraph==0.9.10
isort==5.10.1
Jinja2==3.1.2
joblib==1.1.0
kiwisolver==1.4.2
MarkupSafe==2.1.1
matplotlib==3.5.2
mercantile==1.2.1
munch==2.5.0
mypy-extensions==0.4.3
networkx==2.8.2
numpy==1.22.4
packaging==21.3
pandas==1.4.2
pathspec==0.9.0
Pillow==9.1.1
pip==22.1.1
platformdirs==2.5.2
pyparsing==3.0.9
pyproj==3.3.1
python-dateutil==2.8.2
pytz==2022.1
rasterio==1.2.10
requests==2.27.1
scipy==1.8.1
seaborn==0.11.2
setuptools==60.1.0
setuptools-scm==6.4.2
Shapely==1.8.2
six==1.16.0
snuggs==1.4.7
texttable==1.6.4
tomli==2.0.1
typing_extensions==4.2.0
urllib3==1.26.9
wheel==0.37.1
xyzservices==2022.4.0
